@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  margin: auto;
  min-height: 100vh;
  background: #9ea0a5;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

/*ag-grid */

.ag-theme-alpine {
  --ag-foreground-color: #ede1f7;
  --ag-background-color: #19172d;
  --ag-header-background-color: #fff;

  --ag-header-foreground-color: #9ea0a5;
  --ag-odd-row-background-color: #9ea0a5;
  --ag-header-column-resize-handle-color: rgb(126, 46, 132);
  --ag-row-hover-color: rgba(255, 255, 255, 0.15);
  --ag-selected-row-background-color: rgba(255, 255, 255, 0.15);
}

.ag-overlay {
  display: none !important;
}

.ag-root-wrapper {
  background: #fff;
  border: 1px solid #f5f6fa;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  width: "100%";
}

.ag-header-cell-resize {
  display: none;
}

.ag-row-even,
.ag-row-odd {
  width: 100%;
  background: rgba(255, 255, 255, 0.04);
  color: "red";
  border-bottom: 0.5px solid rgba(199, 198, 202, 0.24);
}

/* Hide right header and spacer */
.ag-pinned-right-header,
.ag-horizontal-right-spacer {
  width: 0 !important;
  min-width: 0 !important;
}
.ag-theme-alpine {
  --ag-checkbox-checked-color: white;
  --ag-checkbox-unchecked-color: grey;
  --ag-checkbox-indeterminate-color: grey;
}

/* calender */

.fc .fc-toolbar-title {
  color: #3a3b3f;
}

.fc .fc-timegrid-axis-cushion,
.fc .fc-timegrid-slot-label-cushion {
  color: #3a3b3f;
}

.fc .fc-col-header-cell-cushion {
  color: #3a3b3f;
}

.fc .fc-daygrid-day-number {
  color: #3a3b3f;
}
